---
layout: layouts/default.njk
title: Título desde front matter
---
<h1>{{ title }}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nostrum aspernatur tempore ex alias dolores asperiores, soluta harum debitis sequi quos atque repellendus accusamus excepturi ipsam quasi tenetur natus ipsa.</p>

Cambio